.remove_image {
  width: 20px;
  color: red;
  position: absolute;
  top: -8px;
  right: -10px;
}

.remove_image:hover {
  cursor: pointer;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  z-index: 11000;
}
