#tbCollectionName,
#tbCollectionSymbol,
#tbPinataSecret,
#tbPinataKey {
  color: #7030a0;
  border: 1px solid #7030a0;
}

#tbCollectionSymbol:focus,
#tbCollectionSymbol:active,
#tbCollectionName:focus,
#tbCollectionSymbol:active,
#tbPinataSecret:focus,
#tbPinataSecret:active,
#tbPinataKey:focus,
#tbPinataKey:active {
  color: #7030a0;
  border: 2px solid #7030a0;
  outline: #7030a0;
  box-shadow: 0 0 0 #7030a0;
}

#btnDeploy,
#btnSavePinata {
  background-color: #7030a0;
  color: white;
  border: 1px solid #7030a0;
  border-color: #7030a0;
  border-radius: 0.3rem;
  padding: 4px 8px;
}

#btnDeploy:hover,
#btnDeploy:active,
#btnDeploy:focus #btnSavePinata:hover,
#btnSavePinata:active,
#btnSavePinata:focus {
  background: #5d2985;
  border-color: #5d2985;
  color: white;
  outline: #5d2985;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d2985;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e1442;
}
