.sideBar {
  max-width: 250px;
  width: 250px;
  height: 90vh;
  text-align: left;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5vh;
  margin-top: 5vh;
  border-radius: 0 2rem 2rem 0px;
  border: 1px solid #c6c8ca;
  border-left-width: 0px;
}

.logo {
  font-size: 40px;
  text-align: center;
  color: #494a66;
  font-weight: bold;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 5px;
}

.navPill {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 1rem;
  background-color: #eeeeff;
  color: #494a66;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
}

.navPill:hover {
  color: white;
  background-color: #4b4db3;
}

.navPill.active,
#btnConnectWallet,
.modal-form-submit,
#btnUpload,
#btnPublish {
  color: white;
  background-color: #4b4db3;
}

.navPill.active:hover,
#btnConnectWallet:hover,
#btnUpload:hover,
.modal-form-submit:hover,
.modal-form-submit:active,
.modal-form-submit:focus {
  color: white;
  background-color: #393baf;
}

.pageContent {
  width: calc(100vw - 250px);
  height: 90vh;
  margin: 5vh 2vw;
  border-radius: 2rem;
  border: 1px solid #c6c8ca;
  background-color: white;
}

.headerContent {
  height: 6rem;
  border-bottom-width: 1px;
  border-bottom-color: #c6c8ca;
  border-bottom-style: solid;
  padding: 15px 35px;
  text-align: left;
}

.pillArrow {
  width: 1rem;
  float: right;
  margin-top: 5px;
}

#btnConnectWallet,
#btnUpload,
.modal-form-submit {
  padding: 0.8rem;
  font-weight: bold;
  margin-top: 5px;
  float: right;
  border-radius: 10px;
}

.pageTitle {
  font-size: 2.8rem;
  font-weight: 700;
  color: #494a66;
  text-transform: uppercase;
}

.contract-card {
  margin-top: 0.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #2f3136;
  color: white;
}

.contract-card > div > span {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  color: white;
}

.contract-card > div > span > svg {
  width: 20px;
  float: right;
  margin-top: 13px;
}

.contract-card > span {
  text-align: left;
  padding-bottom: 5px;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -3px;
  margin-left: 3px;
}

.contract-card:hover {
  background-color: #393c43;
}

.contract-card:hover > span,
.contract-card:hover > div > span {
  color: white;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1490px;
  }
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.new-collection-modal,
.advanced-settings-modal,
.loading-modal {
  padding: 15px 25px;
}

.new-collection-modal > #new-collection-container > .modal-title,
.new-collection-modal > .modal-title,
.advanced-settings-modal > .modal-title {
  font-size: 2rem;
  font-weight: bold;
  color: #494a66;
}

.modal-form-control,
.react-datepicker__input-container > input {
  color: #4b4db3;
  border: 1px solid #4b4db3;
}

.react-datepicker__input-container > input {
  padding: 1rem 0.75rem;
  width: 100%;
  border-radius: 0.25rem;
}

.modal-form-control:focus,
.modal-form-control:active {
  color: #4b4db3;
  border: 2px solid #4b4db3;
  outline: #4b4db3;
  box-shadow: 0 0 0 #4b4db3;
}

.modal-form-submit {
  margin-top: 0px;
}

.contractLink,
.upload-card > span {
  text-decoration: none;
  color: #494a66;
}

.upload-card {
  margin-top: 25px;
  padding: 10px 15px;
  border: 2px dashed #494a66;
  border-radius: 5px;
}

.preview-card {
  margin-top: 25px;
  border: 1px solid #494a66;
  border-radius: 5px;
  height: 70vh;
  max-height: 70vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.preview-content {
  padding: 25px;
  margin: auto;
  margin-top: 5rem;
  background-color: white;
  width: 20rem;
  height: 25rem;
  border-radius: 1.5rem;
}

.preview-title {
  text-align: left;
  margin-top: -10px;
  margin-bottom: 5px;
}

.preview-title > span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #323232;
}
.preview-cover-image {
  width: auto;
  height: 60%;
  border: 1px solid #c8c8c8;
}

.preview-container {
  background-color: #323232;
  width: 100%;
  height: 100%;
}

.preview-connect-wallet,
.preview-connect-wallet:hover,
.preview-connect-wallet:active,
.preview-connect-wallet:focus {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: #323232;
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  font-weight: bold;
}

.preview-price {
  margin-top: 15px;
  text-align: right;
}

.preview-price > span {
  font-weight: bold;
  color: #323232;
}

.preview-price > div > button {
  width: 2rem;
  border-radius: 2rem;
  border: 2px #323232 solid;
  color: white;
  background-color: #323232;
  font-weight: 500;
}

.preview-price > div > input {
  text-align: center;
  width: 3rem;
  border: 0;
  outline: none;
}

#btnAdvancedSetting {
  float: left;
  font-weight: bold;
  background-color: #494a66;
  color: #eeeeff;
  border: 0;
  margin-top: 5px;
  padding: 0.5rem;
}

.loading-modal {
  text-align: center;
}

.loading-status {
  display: block;
  font-size: 1.5rem;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  color: #494a66;
  text-align: center;
  margin: auto;
}

.close-modal {
  color: #494a66;
  width: 2rem;
  height: 2rem;
  float: right;
  margin-top: 0.8rem;
}

.close-modal:hover {
  cursor: pointer;
}

#loading-container {
  display: none;
  text-align: center;
  padding: 1.5rem;
}

#loading-container > span {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: #494a66;
  padding-top: 15px;
}

/* tags input css */
.react-tagsinput {
  background-color: #fff;
  border: 1px solid #4b4db3;
  overflow: hidden;
  margin-top: 25px;
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem !important;
}

.react-tagsinput--focused {
  color: #4b4db3;
  border: 2px solid #4b4db3;
  outline: #4b4db3;
  box-shadow: 0 0 0 #4b4db3;
}

.react-tagsinput-tag {
  background-color: #4b4db3;
  border-radius: 2px;
  border: 1px solid #4b4db3;
  color: white;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.react-tagsinput-remove,
.react-tagsinput-remove:hover {
  color: white;
}
.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-weight: 400;
  outline: none;
  width: 100%;
}

#publishAnchor {
  text-decoration: none;
  color: #494a66;
}

/* SUCCESS & ERROR CSS */

.w4rAnimated_checkmark svg {
  width: 5rem;
  display: block;
  margin: 0 auto 0;
}
.w4rAnimated_checkmark .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.w4rAnimated_checkmark .path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.w4rAnimated_checkmark .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.w4rAnimated_checkmark .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

/* Gallery CSS */
#gallery > div > a > img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  max-width: 250px; /* Set a small width */
  margin-bottom: 4px;
}

#gallery > div > a > img:hover {
  box-shadow: 0 0 10px 8px rgba(0, 140, 186, 0.5);
}

#gallery {
  overflow: auto;
}

#gallery > div > a {
  text-decoration: none;
  color: #494a66;
  font-weight: 500;
}

#gallery > div > a > span {
  display: block;
}

/* User Gallery CSS */
#usergallery > h1 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#usergallery > div {
  margin-left: 10px;
  margin-right: 10px;
}
#usergallery > div > div {
  text-align: center;
}

#usergallery > div > div > a > img:hover {
  box-shadow: 0 0 10px 8px rgba(0, 140, 186, 0.5);
}

#usergallery > div > div > a > span {
  text-align: center;
  display: block;
}

#usergallery > div > div > a > img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  max-width: 500px; /* Set a small width */
}

#usergallery > div > div > a {
  text-decoration: none;
  color: #494a66;
  font-weight: 500;
}

/* LandingComponent CSS */
.right_outer {
  position: relative;
  margin: 0;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.left_outer {
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.navbar {
  border-bottom: 1px dotted black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.left_inner_text {
  padding-top: 10px;
  margin-right: 28px;
  margin-left: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

@media only screen and (max-width: 1920px) {
  .left_body {
    display: inline-block;
    position: relative;
    bottom: 120px;
    padding-left: 70px;
  }

  .right_body {
    display: inline-block;
    position: relative;
  }

  .first_row_pic {
    width: 500px;
  }

  .first_row_title {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1440px) {
  .left_body {
    display: inline-block;
    position: relative;
    bottom: 80px;
    padding-left: 70px;
  }

  .right_body {
    display: inline-block;
    position: relative;
  }

  .first_row_pic {
    width: 460px;
  }
  .first_row_title {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    font-weight: 800;
    font-size: 2.75rem;
    line-height: 1;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
